{% extends "base.html" %}

{% block content %}
    <div class="register-form">
        <h1>Пожалуйста, пройдите регистрацию</h1>
        <div class="form">
            <form action="/accounts/register/" method="POST">
                {% if error %}<p style="color:red; font-family: arial; font-size: 12px;">Пользователь с такие email уже существует</p>{% endif %}
                {% csrf_token %}
                <div class="row">
                    {{ form.username }}
                </div>
                <div class="row buttons">
                    <input type="submit" value="Зарегистрироваться">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
