{% extends 'base.html' %}

{% block content %}
<form id="forms-form">
    <div id="intro-text">
        <p>Форма подтверждена. Ваши дальнейшие действия:</p>
        <ol>
            <li>
                Распечатать <a href="/report/{{ account.id }}/">заявку на участие в конкурсе</a> в формате pdf.
                <br>
                <small>После завершения редактирования интерактивной формы, на сайте формируется окончательный вариант заявки на участие в формате pdf.</small>
            </li>
            <li>Поставить в заявке подписи исполнителя и научного руководителя.</li>
            <li>До 3 декабря 2012 года подписанную заявку и отзыв научного руководителя о планируемой работе представить в Управление научных исследований Семёновой Елене Викторовне.</li>
        </ol>
    </div>
</form>
{% endblock %}