{% extends "base.html" %}
{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.formset.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.core.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.datepicker.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.datepicker-ru.js"></script>
    <script type="text/javascript">
        $(function(){
            $("#pub_formset").formset();
            $("#dip_formset").formset();
            $("#plan_formset").formset();
            $("#coauthor_formset").formset();
            $.datepicker.setDefaults(
                $.extend($.datepicker.regional["ru"])
            );
            $(".datepicker").datepicker({
                rangeSelect: true,
                changeYear: true,
                changeMonth: true,
                yearRange: "1990:2013",
                firstDay: 1
            });

            $('#addCow').on('click', function(){
                $(".datepicker").datepicker();
            });

            function render_table(){
                var tr_list = $('.planList').children('tbody').children('tr');
                var counter = 1;
                for (var i = 0; i < tr_list.length; i++){
                    var tr = $(tr_list[i]);
                    if (tr.css('display') != 'none'){
                        tr.children('td').eq(0).html(counter);
                        counter++;
                    }

                }
            }

            $('.planList').on('click', '.del-row', function(){
                render_table();
            });

            $('.add-row').on('click', function(){
                render_table();
            });



            $('.approve').on('click', function(){
                var is_valid = validate();
                if (is_valid){
                    $('#id_approved').val(1);
                    $('#forms-form').submit();
                }
                return false;
            });

            $('#save_form').on('click', function(){
                $('#id_approved').val(0);
            });

            var inputs = $('input[type=text], textarea, select');

            inputs.on('change', function(){
                remove_error($(this));
            });

            inputs.on('keyup', function(){
                remove_error($(this));
            });

            function remove_error(elem){
                if(elem.hasClass('error')){
                    elem.removeClass('error');
                }
            }

            function validate(){
                var i, j, has_full, has_empty;
                var is_valid = true;
                for (i = 0; i < inputs.length; i++){
                    var inp = $(inputs[i]);
                    if (inp.val() == ''){
                        if (inp.hasClass('plan_field') || inp.hasClass('coauthor_field')){
                            continue;
                        }
                        inp.addClass('error');
                        is_valid = false;
                    } else {
                        remove_error(inp);
                    }
                }

                var plan_rows = $('.plan_row');
                for (i = 0; i < plan_rows.length; i++){
                    var plan_row = $(plan_rows[i]);
                    if (plan_row.css('display') == 'none') continue;


                    var plan_fields = plan_row.children('td').children('textarea');
                    has_full = false;
                    has_empty = false;
                    var plan_field;

                    for (j = 0; j < plan_fields.length; j++){
                        plan_field = $(plan_fields[j]);
                        if (plan_field.val() == '') {
                            has_full = true;
                        } else {
                            has_empty = true;
                        }
                    }

                    if (has_empty && has_full){
                        for (j = 0; j < plan_fields.length; j++){
                            plan_field = $(plan_fields[j]);
                            if (plan_field.val() == '') {
                                plan_field.addClass('error');
                                is_valid = false;
                            } else {
                                remove_error(plan_field);
                            }
                        }
                    } else {
                        for (j = 0; j < plan_fields.length; j++){
                            plan_field = $(plan_fields[j]);
                            remove_error(plan_field);
                        }
                    }
                }

                var coauthors = $('.coauthor_item');
                for (i = 0; i < coauthors.length; i++){
                    var coauthor = $(coauthors[i]);
                    if (coauthor.css('display') == 'none') continue;

                    var coauthor_fields = coauthor.find('textarea, input[type=text]');
                    has_full = false;
                    has_empty = false;
                    var coauthor_field;

                    for (j = 0; j < coauthor_fields.length; j++){
                        coauthor_field = $(coauthor_fields[j]);
                        if (!coauthor_field.val()) {
                            has_full = true;
                        } else {
                            has_empty = true;
                        }
                    }

                    if (has_empty && has_full){
                        for (j = 0; j < coauthor_fields.length; j++){
                            coauthor_field = $(coauthor_fields[j]);
                            if (!coauthor_field.val()){
                                coauthor_field.addClass('error');
                                is_valid = false;
                            } else {
                                remove_error(coauthor_field);
                            }
                        }
                    } else {
                        for (j = 0; j < coauthor_fields.length; j++){
                            coauthor_field = $(coauthor_fields[j]);
                            remove_error(coauthor_field);
                        }
                    }
                }
                return is_valid;
            }


        });
    </script>
{% endblock %}

{% block css %}{% endblock %}



{% block content %}
    <form method="post" action="/send/" id="forms-form" enctype="multipart/form-data" class="MultiFile-intercepted">
        <p style="color: #5F6264; font: 12px 'segoe',sans-serif;"><span style="color:red;">Внимание!</span>
            Все поля обязательны для заполнения.</p>
        <div class="left-col">
            <h3>Данные об исполнителе</h3>

            <div class="row">
                {{ account.user_fio }}		<span class="error_text"></span>
            </div>
            <div class="row">
                {{ account.user_date }}		<span class="error_text"></span>
            </div>
            <div class="row">
                {{ account.user_address }}		<span class="error_text"></span>
            </div>
            <div class="row">
                {{ account.user_home_phone }}		<span class="error_text"></span>
            </div>
            <div class="row">
                {{ account.user_mobile_phone }}		<span class="error_text"></span>
            </div>
            <div class="row">
                {{ account.user_mail }}		<span class="error_text"></span>
            </div>

            <h4>Место учебы</h4>

            <div class="row">
                {{ account.user_faculty }}		<span class="error_text"></span>
            </div>

            <div class="row">
                {{ account.user_specialty }}		<span class="error_text"></span>
            </div>

            <div class="row">
                {{ account.user_group }}		<span class="error_text"></span>
            </div>

            <div class="row">
                {{ account.user_education_form }}		<span class="error_text"></span>
            </div>

            <div class="row">
                {{ account.user_course }}		<span class="error_text"></span>
            </div>
            <h4>Область научных интересов</h4>
            <div class="row">
                {{ account.science_area }}
                <span class="error_text"></span>
            </div>
            <h4>Поддержка проектов заявителя в форме грантов</h4>
            <div class="row">
                {{ account.project_support }}
                <span class="error_text"></span>
            </div>

            <h4>Участие в научно-исследовательской работе</h4>
            <div class="row">
                {{ account.research }}
                <span class="error_text"></span>
            </div>
        </div>
        <div class="right-col">
            <h3>Данные о научном руководителе</h3>
            <div class="row">
                {{ account.supervisor_fio }}		<span class="error_text"></span>
            </div>

            <div class="row">
                {{ account.contact_info }}
                <span class="error_text"></span>
            </div>
            <h4>Место работы</h4>
            <div class="row">
                {{ account.supervisor_faculty }}		<span class="error_text"></span>
            </div>

            <div class="row">
                {{ account.supervisor_insitute }}		<span class="error_text"></span>
            </div>

            <div class="row">
                {{ account.supervisor_kafedra }}		<span class="error_text"></span>
            </div>
            <h4>Область научных интересов</h4>
            <div class="row">
                {{ account.supervisor_science_area }}
                <span class="error_text"></span>
            </div>

            <div class="row">
                {{ account.publication_count }}		<span class="error_text"></span>
            </div>

            <div style="text-align:left;" class="row">
                <h4>Наличие выполняемых научно-исследовательских работ в рамках грантов, хоз. договоров&nbsp;&nbsp;
                    {{ account.supervisor_achivements }}			<span class="error_text"></span>
                </h4>
            </div>
        </div>
        <div class="clear"></div>
        <div class="center-col">
            <h4>Список публикаций </h4>

            <div class="row">
                {{ account.publication_list }}		        <span class="error_text"></span>
                <p style="color: #5F6264; font: 12px 'segoe',sans-serif;"><i>Приводимую информацию нужно подтвердить ксерокопиями соответствующих документов, прикрепив необходимые файлы в любом из следующих форматов: rtf, pdf, doc, jpg. Название файла не должно содержать русских букв, пробелов и спецсимволов. Размер каждого файла &ndash; не более 2Мб.</i></p>
                <div id="pub_formset" data-formset-prefix="{{ pub_formset.prefix }}">
                    {{ pub_formset.management_form }}
                    <div data-formset-body>{% for form in pub_formset.forms %}{% include 'main/file_formset_item.html' %}{% endfor %}</div>
                    <script type="form-template" data-formset-empty-form>{% with form=pub_formset.empty_form %}{% include 'main/file_formset_item.html' %}{% endwith %}</script>
                    <a href="#" onclick="return false;" class="add-file" data-formset-add>Добавить файл</a>
                </div>
            </div>

            <h4>Наличие наград, дипломов, результаты участия в конкурсах студенческих работ, олимпиадах, конференциях</h4>

            <div class="row">
                {{ account.achivements }}                   <span class="error_text"></span>
                <p style="color: #5F6264; font: 12px 'segoe',sans-serif;"><i>Приводимую информацию нужно подтвердить ксерокопиями соответствующих документов, прикрепив необходимые файлы в любом из следующих форматов: rtf, pdf, doc, jpg. Название файла не должно содержать русских букв, пробелов и спецсимволов. Размер каждого файла &ndash; не более 2Мб.</i></p>
                <div id="dip_formset" data-formset-prefix="{{ dip_formset.prefix }}">
                    {{ dip_formset.management_form }}
                    <div data-formset-body>{% for form in dip_formset.forms %}{% include 'main/file_formset_item.html' %}{% endfor %}</div>
                    <script type="form-template" data-formset-empty-form>{% with form=dip_formset.empty_form %}{% include 'main/file_formset_item.html' %}{% endwith %}</script>
                    <a href="#" onclick="return false;" class="add-file" data-formset-add>Добавить файл</a>
                </div>
            </div>

            <h3>Научный проект</h3>
            <h4>Название проекта</h4>
            <div class="row">
                {{ account.project_name }}                <span class="error_text"></span>
            </div>

            <h4>Направление конкурса (в соответствии с объявленными номинациями)</h4>
            <div class="row">
                {{ account.direction }}                <span class="error_text"></span>
            </div>

            <h4>Научная проблема, на решение которой направлен проект, ее актуальность, фундаментальная и практическая ценность. Место планируемых работ в обозначенной тематике </h4>
            <div class="row">
                {{ account.perf_problem }}                <span class="error_text"></span>
            </div>

            <h4>Современное состояние исследований в данной области науки</h4>
            <div class="row">
                {{ account.stat_of_research }}                <span class="error_text"></span>
            </div>

            <h4>Имеющийся у исполнителя научный задел по предлагаемому проекту: полученные ранее результаты (с оценкой степени оригинальности), разработанные методы (с оценкой степени новизны)</h4>
            <div class="row">
                {{ account.perf_zadel }}                <span class="error_text"></span>
            </div>

            <h4>Краткая аннотация (не более 0,5 стр.)</h4>
            <div class="row">
                {{ account.shot_annotation }}                <span class="error_text"></span>
            </div>

            <h4>Цели и задачи реализации проекта</h4>
            <div class="row">
                {{ account.goals_and_objectives }}
                <span class="error_text"></span>
            </div>

            <h4>Предлагаемые методы и подходы (с оценкой степени новизны)</h4>
            <div class="row">
                {{ account.proposed_methods }}                <span class="error_text"></span>
            </div>
            <h4>Подробный план работ на весь срок выполнения проекта, включая участие в научных мероприятиях</h4>

            <div id="plan_formset" class="formTable" data-formset-prefix="{{ plan_formset.prefix }}">
                {{ plan_formset.management_form }}
                <table class="planList">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Сроки проведения</th>
                            <th>Содержание работ</th>
                            <th>Место проведения</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody data-formset-body>
                    {% for form in plan_formset.forms %}
                        {% include 'main/table_formset_item.html' %}
                    {% endfor %}
                    </tbody>
                </table>
                <script type="form-template" data-formset-empty-form>
                    {% with form=plan_formset.empty_form %}
                        {% include 'main/table_formset_item.html' %}
                    {% endwith %}
                </script>
                <a href="#" onclick="return false;" class="add-row" data-formset-add>Добавить строку</a>
            </div>

            <h4>Ожидаемые научные результаты</h4>
            <div class="row">
                {{ account.scientific_results }}
                <span class="error_text"></span>
            </div>

            <h4>Отзыв научного руководителя о планируемой работе</h4>
            <div class="row">
                <p style="color: #5F6264; font: 12px 'segoe',sans-serif;">
                    <i>Название файла не должно содержать русских букв, пробелов и спецсимволов. Размер файла &ndash; не более 20Мб.</i>
                </p>
                {{ account.report }}
            </div>

            <h3>Данные о соисполнителях</h3>
            <div id="coauthor_formset" data-formset-prefix="{{ coauthor_formset.prefix }}">
                {{ coauthor_formset.management_form }}
                <div data-formset-body>{% for form in coauthor_formset.forms %}{% include 'main/coauthor_formset_item.html' %}{% endfor %}</div>
                <script type="form-template" data-formset-empty-form>{% with form=coauthor_formset.empty_form %}{% include 'main/coauthor_formset_item.html' %}{% endwith %}</script>
                <div id="addCow" class="ww" data-formset-add>
                    <div id="addCowText">Добавить соисполнителя</div>
                </div>
                <div style="clear:both;"></div>
            </div>


        </div>
    {% csrf_token %}
        <p style="color: #5F6264; font: 12px 'segoe',sans-serif;"><span style="color:red;">Внимание!</span> Для того, чтобы продолжить редактирование анкеты позже, воспользуйтесь кнопкой «Сохранить».</p>
        <p style="color: #5F6264; font: 12px 'segoe',sans-serif;">Нажимая кнопку «Отправить», Вы передаете данные о своей заявке модератору и лишаетесь возможности в дальнейшем вносить в нее коррективы.</p>
        <input id="confirmed" type="hidden" value="0" name="Forms[confirmed]">
        <input id="files_to_delete" type="hidden" value="" name="del_files">
        <div class="row buttons">
            {{ account.approved }}
            <input type="submit" value="Сохранить" name="yt0" id="save_form">
            <button class="approve">Отправить</button>
        </div>
    </form>

{% endblock %}